body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

body.light-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.kiri {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 10px;
    color: #ff0000;
    
}

header {
    background-color: black;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

h2 {
    text-align: center;
    color: #fff;
}
nav {
    background-color: #181818;
    color: #fff;
    text-align: right;
    padding: 10px 0;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    border-radius: 2px transparent solid;
    border: white;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ff0000;
    text-decoration :none;
}

main {
    padding: 20px;
}

.home {
    display: flex;
    align-items: center;
    background-color:#6c0000;
    width: auto;
    height: auto;


}

hr {
    height: 200px;
    color: #6c0000;
    border:none;

}
p {
    padding-left: 111px;
    padding-right: 50px;
    text-align: center;
    color: #fff;
}

.bunga {
    padding: 20px;
    size: auto;
}

.tentang {
    background-color: #6c0000;
    margin: 20px;
    display : flex;
    align-items: center;
    width: auto;
    height: auto;
}

#pembesar {
    font-size: 50px;
    
}

.ganteng {
    padding-left: 250px;
    width: 250px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px ;
}

.activity {
    margin: 20px;
    background-color: #333;
    display: block;
    text-align: center;
}

#subtitle {
    font-size: 20px;
    text-align: center;
    padding-right: 120px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
 
.image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.description {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(1, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    display: none;
    width: 100%; 
    text-align: center;
}
.image-container:hover .description {
    display: block;
}

.container_sd {
    text-align: center;
    background-color: #6c0000;
    border: 100px;
    height: 350px;
}