#komen {
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.container {
    height: 100%;
    display: block;
    padding: 20px;
    max-width: 850px;
    background: wheat;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.container form {
    width: auto;
    margin: 20px auto;
}

textarea {
    width: 100%; /* Adjusted for responsiveness */
    height: 100px;
    resize: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px; /* Added for spacing */
}


.container h3 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: brown;
}

.container hr {
    border-top: 2px solid #4c403d;
}

p {
    text-align: center;
    margin: 10px;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {    
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #4c403d;
}

button:hover {
    background: brown;
}