
:root {
	--sidebar-width: 200px;
	--sidebar-secondary-color: burlywood;
	
	--icon-width: 50px;
	--icon-padding: 10px;
	--icon-font-size: 20px;
}

*,
*::before,
*::after {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
    height: 100vh;
}

nav {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

nav > ul,
nav > ul > li {
    outline:0;
}

li > a {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    padding-top: 100px;
	position: fixed;
	z-index: 100;
	background: rgba(0,0,0,.5);
	width: calc(var(--icon-font-size) + var(--icon-padding) * 2);
	height: 100vh;
	overflow: hidden;
	transition: width .05s linear;
}

.sidebar:hover{
	width: var(--sidebar-width);
	overflow: visible;
}

.item:hover > a, .item.active > a, .item > a:focus {
	background: var(--sidebar-secondary-color);
}

.item a {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	color:white;
	opacity:.8;
	transition: all .1s linear;
}

.item a * {
	color:inherit;
	opacity:inherit;
}

.item a:hover{
	opacity: 1;
}

.sidebarText {
	font-size: var(--icon-font-size);
}

.icon {
	width: var(--icon-width);
	padding: var(--icon-padding);
	font-size: var(--icon-font-size);
}

